<% if (success === "true") { %>
  <div class="row">
    <% if (action === "login") { %>
      <div class="alert alert-success" role="alert">
        Successfully logged in!
      </div>
    <% } else if (action === "feedback") { %>
      <div class="alert alert-success" role="alert">
        Feedback is successfully submitted.
      </div>
    <% } else if (action === "logout") { %>
      <div class="alert alert-danger" role="alert">
        Successfully logged out. 
      </div>
    <% } else if (action === "signup") { %>
      <div class="alert alert-success" role="alert">
        Successfully signed up! Please login. 
      </div>
    <% } else if (action === "delete") { %>
      <div class="alert alert-danger" role="alert">
        Item deleted.
      </div>
      <% } else if (action === "edit") { %>
        <div class="alert alert-warning" role="alert">
          Item edited.
        </div>
        <% } else if (action === "additemtocart") { %>
          <div class="alert alert-success" role="alert">
            Item added to cart. To adjust the quantity, please select the cart.
          </div>
        <% } %>

  </div>
<% } %>

<% if (success === "false") { %>
  <div class="row">
    <% if (action === "login") { %>
      <div class="alert alert-danger" role="alert">
        Wrong credentials. Please try again.
      </div>
    <% } else if (action === "signup") { %>
      <div class="alert alert-danger" role="alert">
        Username is being taken. Please choose another one.
      </div>
    <% } else if (action === "logout") { %>
      <div class="alert alert-danger" role="alert">
        Successfully logged out. 
      </div>
    <% } %>
  </div>
<% } %>

<% if (requiredlogin) { %>
  <div class="row">
    <div class="alert alert-danger" role="alert">
      Please log in first!
    </div>
  </div>
<% } %>