<!DOCTYPE html>
<html lang="zxx">

<head>
    <%- include("partials/css.ejs") %>
    <title>Fantastic Cakeshop!</title>

</head>

<body>
    <%- include("partials/header.ejs") %>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">

        <div class="container">

            <div class="row breadcrumb__text ">

                <div class="row">
                    <img src="https://www.blogginglove.com/wp-content/uploads/2017/01/403-forbidden-error.png"
                        alt="error404_cake" width="600px" height="400px">
                </div>



                <div class="row">
                    <p>You can try the following steps:</p>
                    <div class="col-lg-12">
                        <div>
                            <ul>
                                <li>
                                    Please make sure that you have the correct access privilege.
                                </li>
                                <li>
                                    Go back to the <a href="/">homepage</a> and try navigating from there.
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cake Section Begin -->
    <section class="about spad">
        <div class="container">

        </div>
    </section>
    <!-- Cake Section End -->

    <%- include("partials/footer.ejs") %>

</body>

</html>