<!DOCTYPE html>
<html lang="zxx">

<head>
    <%- include("partials/css.ejs") %>
    <title>Fantastic Cakeshop!</title>

</head>

<body>
    <%- include("partials/header.ejs") %>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        
        <div class="container">
            <div class="row breadcrumb__text ">
 
                
                <div class="col-lg-12 col-md-6 col-sm-6">
                    <img src="/img/error404_cake.png" alt="error404_cake" width="400px" height="400px">
                </div>

                <div class="row">
                    <p>You can try the following steps:</p>
                <div class="col-lg-12">      
                    <ul>
                        <li>
                            If you typed in a URL, please check that it was correct.
                        </li>
                        <li>
                            Go back to the <a href="/">homepage</a> and try navigating from there.
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


 <!-- Cake Section Begin -->
 <section class="about spad">
    <div class="container">

    </div>
</section>
<!-- Cake Section End -->

    <%- include("partials/footer.ejs") %>

</body>

</html>