<!DOCTYPE html>
<html lang="zxx">

<head>
    <%- include("partials/css.ejs") %>
    <title>Fantastic Cakeshop!</title>

</head>

<body>
    <%- include("partials/header.ejs") %>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        
        <div class="container">
            <div class="contact__text">
                <h3>Contact Us / Feedback</h3> <br>
                <h4>You are not allowed to access this resource.</h4>
            </div>

        </div>
    </div>
    <!-- Breadcrumb End -->


 <!-- Cake Section Begin -->
 <section class="about spad">
    <div class="container">

    </div>
</section>
<!-- Cake Section End -->

    <%- include("partials/footer.ejs") %>

</body>

</html>